@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.textured-bg {
  background-color: #212534;
  background-image:
    radial-gradient(circle at 100% 0%, rgba(133, 76, 48, 0.2), transparent 40%),
    radial-gradient(circle at 0% 100%, rgba(47, 57, 89, 0.3), transparent 35%),
    url("https://www.transparenttextures.com/patterns/cold-press.png");
}

.btn-brush-stroke {
  background-color: #A94438;
  background-image:
    linear-gradient(135deg, rgba(204, 119, 77, 0.3) 0%, transparent 50%),
    linear-gradient(225deg, rgba(0, 0, 0, 0.2) 0%, transparent 40%);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

